<form action="/books" method="post">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value="">
	<label for="picture-url">Picture Url</label>
	<input type="url" name="pictureUrl" id="picture-url" value="">
	<label for="author">Author</label>
	<input type="text" name="author" id="author" value="">
	<input type="submit" value="Add Book">
</form>